In [1]:
# setup
import pandas as pd
import matplotlib as plt

In [2]:
#read sample csv
cc_data = pd.read_csv(r"C:\Users\corym\OneDrive\Documents\Data_Analytics_Bootcamp\GIT\Project_1_Group_3\cc_data.csv")
cc_data.head()

,Unnamed: 0,trans_date_trans_time,category,amt,gender,city,state,lat,long,city_pop,dob,merch_lat,merch_long
0,264582,2020-09-27 09:41:48,gas_transport,63.12,F,Orient,WA,48.8878,-118.2105,149,1978-06-21,48.633738,-118.039422
1,350571,2020-11-03 11:29:38,gas_transport,68.82,F,Enola,AR,35.2087,-92.2123,969,1954-01-05,36.179802,-92.650560
2,456043,2020-12-09 16:24:42,home,100.85,F,Orangeburg,NY,41.0442,-73.9609,5950,1971-07-02,41.535820,-73.171710
3,537676,2020-12-28 04:18:11,entertainment,7.84,F,Gadsden,AL,34.0480,-85.9246,67082,1963-02-09,33.307946,-86.376173
4,19760,2020-06-28 10:16:40,misc_pos,16.00,M,Minnesota Lake,MN,43.8295,-93.8282,1087,1963-07-14,44.091922,-93.247544